/* App.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'MyCustomFont';
    src: url('./fonts/Giants-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.font-custom {
    font-family: 'MyCustomFont', sans-serif;
}

.text-custom {
    color: rgb(208, 15, 49);
}
